<html lang="pt-BR">

<head>

    <%- include('common/common-header'); %>
        <%- include('common/common-style'); %>

            <%- include('home/home-style'); %>
                <%- include('home/home-script'); %>

</head>


    <%- include('home/home-form'); %>

</body>

</html>