<html lang="pt-BR">

<head>

    <%- include('common/common-header'); %>
        <%- include('common/common-style'); %>

            <%- include('home/home-style'); %>
                <%- include('home/home-script'); %>

</head>

<body class="container" style="background-color: rgb(255, 255, 255);">

    <%- include('home/home-form'); %>

</body>

</html>