<html lang="pt-BR">

<head>

    <%- include('common/common-header'); %>
    <%- include('common/common-style'); %>

    <%- include('login/login-style'); %>
    <%- include('login/login-script'); %>

</head>

<body class="container" style="background-color: rgb(255, 255, 255);">

    <%- include('login/login-form'); %>

</body>

</html>