<html lang="pt-BR">

<head>

    <%- include('common/common-header'); %>
    <%- include('common/common-style'); %>

    <%- include('login/login-style'); %>
    <%- include('login/login-script'); %>

</head>


    <%- include('login/login-form'); %>

</body>

</html>